* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f1f1f1;
}

header {
    width: 100%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    background-color: rgb(220, 20, 60);
    background-size: cover;
}

.logo {
    padding: 30px 125px 30px 125px;
    background-image: url(../imagem/doe-roupas-logo-dark.png);
    background-size: 250px;
    background-repeat: no-repeat;
    background-position: center;
}

nav ul {
    padding: 50px 17%;    
    background-color: rgb(190, 3, 41);
    box-shadow: 0 0 0 1px rgb(148, 2, 33);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: Muli;
    color: #ffffff;    
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    box-shadow: 0 0 25px #555;
    padding: 15px 60px;
    border-radius: 25px;
}
nav ul li a:hover {
    box-shadow: 0 0 50px #555;
}

.title {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    padding: 0 10% 0 10%;
    background-color: rgb(220, 20, 60);
    font-family: Muli;  
}

.title h1 {
    color: #ffffff;
    white-space: nowrap;
    margin-bottom: 10px;
}

.title p {
    text-align: center;
    color: #ffffff;
}

.about {
    width: 80%;
    height: 80px;
    margin: 0 10% 0 10%;
    background-color:#f1f1f1;
    box-shadow: 1px -5px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Muli;
    white-space: nowrap;
}

.about h2 {
    color: rgb(0, 0, 0);
}

.inform {
    height: 280px;
    font-family: Muli;
    display: flex;
    justify-content: center;
    background-color: #f1f1f1;
}

.inform p {
    text-align: center;
    max-width: 600px;
    width: 80%;
    margin: 120px 10% 0 10%;
}

.orphanage {
    width: 80%;
    height: 80px;
    margin: 0 10% 100px 10%;
    background-color:#f1f1f1;
    box-shadow: 1px 5px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    white-space: nowrap;
}

.orphanage h2 {
    color: rgb(0, 0, 0);
}

.donate {
    height: auto;
    width: 100%;
    background-color: #dfdfdf;
    font-family: Muli;    
}

.box-orphanage {
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 10% 0 10%;
}

.box {
    width: 200px;
    height: 200px;
    margin: 0 0 100px 0;
    padding: 10px;
    background-color: #dfdfdf;
    border: 1px solid #c0c0c0;
}

.help {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 150px;
    background-color: #ffffff;
    box-shadow: 1px -5px 10px 0 rgba(0, 0, 0, 0.2);    
}

.help h3 {
    margin-bottom: 20px;
}
.help a {
    text-decoration: none;
    color: #333;
}

#footer-widgets {
    background-color: #3d3d3d;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-widgets .container {
    width: 70%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 70px 0;
}
#footer-widgets .container .widget {
    margin: 15px;
    font-size: 19px;
    line-height: 37px;
}
#footer-widgets .container .widget ul li {
    list-style: none;
}
#footer-widgets .container .widget ul li a {
    text-decoration: none;
    color: #fff;
    padding: 
}
#footer-widgets .container .widget01 a {
    background-image: url(../imagem/doe-roupas-logo-dark.png);
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 15px 75px 15px 75px;
}
#footer-widgets .container .widget01 a span {
    visibility: hidden;
}    
#footer-widgets .container .widget02 {
    
}    


footer {
    background-color: #3d3d3d;
    font-family: Muli;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
footer a {
    color: #ffffff;
    text-decoration: none;
}

@media (max-width: 450px) {
    .inform p {
    margin: 80px 10% 0 10%;
    }

    nav li {
        display: none;
    }
}

@media (max-width: 550px) {
    .nav ul {
        flex-direction: column;
    }

    .logo {
        min-width: 100px;
    }

    #footer-widgets .container {
        flex-direction: column;
    }
}